<% backup.forEach((contact)=> { %>
    <div class="contactDiv">
        <p>
            <%= contact.first%>
        </p>
        <p>
            <%= contact.last%>
        </p>
        <p>
            <%= contact.email%>
        </p>
        <p>
            <%= contact.message%>
        </p>
    </div>
    <%}) %>