<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guestbook A</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>

    </header>
    <main>
        <form method="post" action="/guestbookA">
            <div>
                <input class="inputFields" placeholder="first name" type="text" name="firstName">
            </div>
            <div>
                <input class="inputFields" placeholder="last name" type="text" name="lastName">
            </div>
            <div>
                <input class="inputFields" placeholder="email address" type="email" name="emailAddress">
            </div>
            <div>
                <input class="inputFields" type="textarea" placeholder="leave your message" name="message">
            </div>
            <input type="submit" value="Submit">
            <% if(errors) { %>
                <p>Oops, something isn't quite right here</p>
                <% } %>
                    <%- include ("./partials/guestbook"), {contacts} %>
        </form>
    </main>
    <footer>

    </footer>
</body>

</html>